.home-nav-links {
  li {
    a {
      border: 2px dotted;
      border-radius: 24px;
      padding: 8px 24px;
      transition: 0.3s all ease-in-out;
    }
  }
}

a.ext-nav-link {
  border: 2px dotted;
  border-radius: 24px;
  padding: 8px 24px;
  transition: 0.3s all ease-in-out;
}
